dbus-python==1.2.4
git+https://github.com/tmcneal/pybluez.git@e1311bd83447a641d59a36c8c32d8e3f75e1a34c#egg=PyBluez-0.22.1 --process-dependency-links # Replaces PyBluez==0.22
vext.gi==0.5.20 # Includes system-level gobject package
